.custom-card {
  /*width: fit-content;*/
  /*height: fit-content;*/
  position: relative;
  display: block;
  overflow: auto;
}

.card-element {
  /*position: relative;*/
  display: inline-block;
  height: 100%;
  line-height: 100%;
  white-space: nowrap;
  /*vertical-align: middle;*/
}

.padder {
  padding: 5px 10px 5px 10px;
}
