<mat-toolbar class="fixed-tooblar" color="prime">
  <div class="container">
    <a class="navbar-brand" href="#">ACME INC</a>
    <button mat-button >Parcels</button>
    <button mat-button >Delivery Map</button>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">
    <span class="navbar-brand" style="color: white">Hello, Evgeni</span>
    <img src="assets/img/ryan.jpg " alt="Circle Image" class="rounded-circle " style="height: 50px">
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <span>Log Out</span>
    </button>
  </mat-menu>
</mat-toolbar>
