.table {
}

.map-and-table {
  display: inline;
  position: relative;
}

.map {
  position: relative;
  display: inline-block;
  float: left;
  width: 70%;
}

.ag-map {
  width: 100%;
  height: 700px;
}

.drivers-table-div {
  display: inline-block;
  width: 30%;
  float: right;
}

.drivers-table {
  width: 100%;
}
