<table class="table">
  <thead>
  <tr>
    <th class="text-center">#</th>
    <th>Parcel ID</th>
    <th>Estimated arrival</th>
    <th>Status</th>
    <th>Delivery operator</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parcel of parcels; let i = index">
      <td class="text-center">{{ getIndex(i) }}</td>
      <td>{{ parcel.id }}</td>
      <td>{{ parcel.arrivalDate }}</td>
      <td>{{ parcel.status }}</td>
      <td>
        <app-driver-card [driver]="parcel.operator"></app-driver-card>
      </td>
    </tr>
  </tbody>
</table>
