<table class="table">
  <thead>
  <tr>
    <th class="text-center">#</th>
    <th>Parcel ID</th>
    <th>Estimated arrival</th>
    <th>Status</th>
    <th>Delivery operator</th>
  </tr>
  </thead>
  <div *ngFor="let parcel of parcels; let i = index">
    <tr>
      <td class="text-center">{{ i }}</td>
      <td>{{ parcel.id }}</td>
      <td>{{ parcel.arrivalDate }}</td>
      <td>{{ parcel.status }}</td>
      <td>
        <app-driver-card></app-driver-card>
      </td>
    </tr>
  </div>
  <tr>
    <td class="text-center">2</td>
    <td>16209</td>
    <td>11.10.2018 15:30</td>
    <td>OK</td>
    <td>
      <app-driver-card></app-driver-card>
    </td>
  </tr>
  <tr>
    <td class="text-center">3</td>
    <td>16876</td>
    <td>11.10.2018 18:45</td>
    <td>DELAY</td>
    <td>
      <app-delivery-operator-card></app-delivery-operator-card>
    </td>
  </tr>
  <tr>
    <td class="text-center">1</td>
    <td>16098</td>
    <td>12.10.2018 09:15</td>
    <td>OK</td>
    <td>
      <app-delivery-operator-card></app-delivery-operator-card>
    </td>
  </tr>
  <tr>
    <td class="text-center">1</td>
    <td>16020</td>
    <td>12.10.2018 19:35</td>
    <td>DELAY</td>
    <td>
      <app-delivery-operator-card></app-delivery-operator-card>
    </td>
  </tr>
  <tr>
    <td class="text-center">1</td>
    <td>16735</td>
    <td>13.10.2018 18:10</td>
    <td>OK</td>
    <td>
      <app-delivery-operator-card></app-delivery-operator-card>
    </td>
  </tr>
  <tr>
    <td class="text-center">1</td>
    <td>17592</td>
    <td>13.10.2018 17:50</td>
    <td>OK</td>
    <td>
      <app-delivery-operator-card></app-delivery-operator-card>
    </td>
  </tr>
  <tr>
    <td class="text-center">1</td>
    <td>16027</td>
    <td>13.10.2018 19:30</td>
    <td>DELAY</td>
    <td>
      <app-delivery-operator-card></app-delivery-operator-card>
    </td>
  </tr>
  <tr>
    <td class="text-center">1</td>
    <td>16027</td>
    <td>13.10.2018 19:30</td>
    <td>DELAY</td>
    <td>
      <app-delivery-operator-card></app-delivery-operator-card>
    </td>

  </tr>
  </tbody>
</table>
