<div class="table">
  <h3>Maps</h3>
  <div class="map-and-table">
    <div class="map">
      <img src="../../assets/img/map-dummy.png">
    </div>
    <div class="drivers-table-div">
      <table class="drivers-table">
    <thead>
    <tr>
      <th class="text-center">#</th>
      <th>Parcel id</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="text-center">1</td>
      <td>Andrew Mike</td>
    </tr>
    <tr>
      <td class="text-center">2</td>
      <td>John Doe</td>
    </tr>
    <tr>
      <td class="text-center">3</td>
      <td>Alex Mike</td>
    </tr>
    </tbody>
  </table>
    </div>
  </div>
</div>



