.table {
  padding: 0 60px 100px 60px;
}

.map-and-table {
  display: inline;
  position: relative;
}

.map {
  position: relative;
  display: inline-block;
  float: left;
}

.ag_map {
  width: 920px;
  height: 700px;
}

.drivers-table-div {
  display: inline-block;
  width: 30%;
  float: right;
}

.drivers-table {
  width: 100%;
}
