.table {
  padding: 0 60px 100px 60px;
}

.map-and-table {
  position: relative;
}

.map {
  display: inline-block;

  width: 70%;
  height: 100%;
}

.drivers-table-div {
  display: inline-block;
  width: 30%;
  float: right;
  /*position: relative;*/
  /*top: 0;*/
}

.drivers-table {
  width: 100%;
}
